.services-container{
    background-color: #082032;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 26%;
    background-color: #2C394B;
    padding: 3%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.card-image{
    width: 80%;
    align-self: center;
}

.card-heading{
    color:#ffffff;
    align-self: center;
    margin-bottom: 30px;
}

.card-description{
    margin-top: 30px;
    color:#ffffff;
}