.services-container{
    background-color: #082032;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    @media screen and (max-width: 1000px) {
        padding-bottom: 30px;
    }
}

.service-card{
    width: 30%;
    background-color: #2C394B;
    padding: 3%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
        width: 50%;
        margin-bottom: 30px;
        align-self: center;
    }
    @media screen and (max-width: 800px) {
        width: 70%;
    }
    @media screen and (max-width: 520px) {
        width: 100%;
    }
}

.services-card-image{
    width: 80%;
    align-self: center;
}

.services-card-heading{
    color:#ffffff;
    align-self: center;
    margin-bottom: 30px;
}

.services-card-description{
    margin-top: 30px;
    color:#ffffff;
    text-align: center;
}

.services-cards-container{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}