.about-container{
    display: flex;
    flex-direction: row;
    background-color: #2C394B;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

.personal-image{
    width: 49%;
    border-radius: 30px;
}

.text{
    color: #ffffff;
}

.description-content{
    padding-left: 10%;
    padding-right: 10%;
}

.code-tag{
    color: #FF4C29;
}

.description-container{
    width: 49%;
    background-color: #082032;
    border-radius: 30px;
}