.footer-container{
    background-color: #082032;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
}

.footer-text{
    color: #ffffff;
}